__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so
.Python

venv/
env/
venv_matchers/
visloc/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

data/output/*
data/processed_queries/*
*.tmp
*.bak
*.log

*.ckpt
*.pth
*.pt
*.onnx
*.engine
*.plan

.poetry/
.pytest_cache/
.mypy_cache/
.tox/
pip-cache/
*.dev.vars
*.local.vars

_readthedocs/